<div class="app-header">
  <div class="app-info-container">
    <div class="app-header-logo"></div>
    <mat-icon class="vertical-divider" svgIcon="vertical-divider"></mat-icon>
    <div>Epredia Syntri Service</div>
  </div>
  <div class="app-actions-container">
    <div class="app-actions-icons">Help</div>
    <mat-icon class="app-actions-icons" svgIcon="location"></mat-icon>
    <mat-icon class="app-actions-icons" svgIcon="notifications-bell"></mat-icon>
    <mat-icon class="app-actions-icons app-actions-profile" svgIcon="profile"></mat-icon>
    <mat-icon class="app-actions-chevron" svgIcon="chevron-down"></mat-icon>
  </div>
</div>