<div class="admin-dialog">


<h2 mat-dialog-title class="">Disconnect or remove {{data.deviceName}}</h2>
<mat-icon class="close-icon" (click)="closeDialog()" aria-hidden="false" aria-label="Example home icon">close</mat-icon>
<mat-dialog-content class="mat-typography">
  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="userSelection">
    <mat-radio-button class="example-radio-button pl-4 w-100" [value]="0">
      <div class="radio-label">
        <span class="option-header">Disconnect an instrument</span><br />
        <span class="option-content">Once an instrument is disconnected, every user will be removed and it will no
          longer be
        </span><br />
        <span class="option-content">
          available. You cannot undo this action.</span>
      </div>
    </mat-radio-button>
    <mat-radio-button class="border-top example-radio-button pl-4 w-100" [value]="1">
      <div class="radio-label">
        <span class="option-header">Remove myself from the instrument</span><br />
        <span class="option-content">Please give admin previleges to another user, before removing yourself from an
          instrument.</span>
      </div>
    </mat-radio-button>
  </mat-radio-group>
  <p class="error pt-4 pl-5"> Error, Please try again! </p>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pt-5 mb-1">
  <button mat-button class="btn-cancle" (click)="closeDialog()">CANCLE</button>
  <button mat-button class="btn-confirm" (click)="closeDialog()">CONFIRM</button>
</mat-dialog-actions>
</div>
