@import "variables";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin container {
  @include flexCenter();
  padding: $container-padding;
}

@mixin header {
  font-family: HelveticaNeue;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  margin: 6vh 0;
}

@mixin headerFont {
  font: {
    family: HelveticaNeue;
    size: 1rem;
    weight: bold;
  }
}
