@import "~@angular/material/theming";

$primary-palette: (
  50: #fde0f1,
  100: #f9b3dd,
  200: #f680c6,
  300: #f24daf,
  400: #ef269d,
  500: #ec008c,
  600: #ea0084,
  700: #e70079,
  800: #e4006f,
  900: #df005c,
  A100: #ffffff,
  A200: #ffd3e2,
  A400: #ffa0c1,
  A700: #ff86b0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$accent-palette: (
  50: #e6e5ea,
  100: #c1becb,
  200: #9892a8,
  300: #6e6685,
  400: #4f466a,
  500: #302550,
  600: #2b2149,
  700: #241b40,
  800: #1e1637,
  900: #130d27,
  A100: #8566ff,
  A200: #5c33ff,
  A400: #3300ff,
  A700: #2e00e6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$fault-palette: (
  50: #fde6e7,
  100: #fac0c2,
  200: #f7969a,
  300: #f36c72,
  400: #f14d53,
  500: #ee2d35,
  600: #ec2830,
  700: #e92228,
  800: #e71c22,
  900: #e21116,
  A100: #ffffff,
  A200: #ffdcdd,
  A400: #ffa9ab,
  A700: #ff9092,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
