@import "~@angular/material/theming";

/* Colors */
$white: #ffffff;
$black: #000000;
$brand-pink: #ec008c;
$brand-blue: #302550;
$fault-red: #ee2d35;
$brand-dark-grey: #58595b;
$brand-grey: #a7a9ac;
$light-grey: #eff2f3;
$health-green: #7fba00;
$warning-orange: #f79928;
$idle-blue: #1e8ae7;
$field-colour: #ececec;
$error-pink: #da4750;

/* Variables */
$container-padding: 0 5vw 0 6vw ;
