@import "~@angular/material/theming";
@import "./palette";
@import "./variables";
@import "./mixins";
@import "./fonts";

$custom-typography: mat-typography-config(
  $font-family: '"HelveticaNeueLTStd-55Roman"',
);

@include mat-core($custom-typography);

$epredia-container-primary: mat-palette($primary-palette, 500, 300, 700);
$epredia-container-accent: mat-palette($accent-palette, 500, 300, 700);
$epredia-container-warn: mat-palette($fault-palette);
$epredia-container-theme: mat-light-theme(
  $epredia-container-primary,
  $epredia-container-accent,
  $epredia-container-warn
);

@include angular-material-theme($epredia-container-theme);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "HelveticaNeueLTStd-55Roman";
  background-color: $light-grey;
}

// Add CSS for material components

// Toolbar
.mat-toolbar-row,
.mat-toolbar-single-row {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

// Card
.mat-card {
  box-shadow: none !important;
  border-radius: 13px !important;
}

// Menu
.mat-menu-panel {
  border-radius: 10px !important;
  max-width: 100% !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16) !important;
}

// Standar Chip
.mat-chip.mat-standard-chip {
  background-color: $white;
  color: $brand-blue;
  border: 1px solid $brand-blue;
}

// Tabs
.mat-tab-label {
  min-width: 0 !important;
  padding: 0 !important;
  margin-right: 30px;
}

.mat-ink-bar {
  height: 4px !important;
  border-radius: 12px !important;
}