<main role="main" class="bg-light">
  <div class="container-fluid p-5" style="height: 100%;">
    <div class="device-header my-4">
      <h2>Favorite</h2>
    </div>
    <div class="col-12">
      <div class="row">

        <div class="card favorite-devices w-100" *ngIf="favList.length < 1" >
          You can mark 3 instruments as favorites and monitor them
        </div>
        <div class="col-4" *ngFor="let item of favList">
          <app-device-details [isFav]="true" (favoriteDeviceclicked)="removeFromFavorite($event)" [device]="item"></app-device-details>
        </div>
      </div>
    </div>
    <div class="devices-header my-4">
      <h2>{{ filterApllied ? 'Filtered By' : 'All'}}</h2>

      <hr />

      <!-- <div class="device-action">
        <input type="text" placeholder="Search by Seriel Number name or status" #searchTerm>
        <span><button class="btn-sm btn-primry" (click) ="searchDevice(searchTerm.value)">search</button></span>
      </div> -->
      <div class="device-actions mr-3">

        <div ngbDropdown placement="bottom-right" class="d-inline-block" #filterDrop="ngbDropdown">
          <!-- <i id="dropdownBasic1" class="material-icons" ngbDropdownToggle>sort</i> -->
          <fa-icon id="dropdownBasic1" [icon]="filterIcon" size="lg" ngbDropdownToggle></fa-icon>
          <!-- <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle></button> -->
          <div ngbDropdownMenu class="dropdown-menu filter" aria-labelledby="dropdownBasic1" placement="bottom-left">
            <div class="">
              <div class="container py-4">
                <div class="col-12">
                  <p>Filter By -</p>
                  <p>Instrument Type</p>
                  <div class="row">
                    <button type="button" class="btn btn-outline-secondary filter-badge m-3"
                      [ngClass]="{'isActive': checkFilter('revos')}" (click)="applyFilter('revos')">Revos</button>
                    <button type="button" class="btn btn-outline-secondary filter-badge m-3"
                      [ngClass]="{'isActive': checkFilter('rcom')}" (click)="applyFilter('rcom')">rcom</button>
                    <button type="button" class="btn btn-outline-secondary filter-badge m-3"
                      [ngClass]="{'isActive': checkFilter('lorem')}" (click)="applyFilter('lorem')">lorem</button>
                    <button type="button" class="btn btn-outline-secondary filter-badge m-3"
                      [ngClass]="{'isActive': checkFilter('lorem2')}" (click)="applyFilter('lorem2')">lorem2</button>
                  </div>
                  <div class="row justify-content-end">
                    <button type="button" class="btn btn-secondary mr-2" (click)="filterRemoved()">Clear filter</button>
                    <button type="button" class="btn btn-danger" (click)="filterDrop.close()">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="device-actions">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
          <fa-icon id="dropdownBasic2" [icon]="sorticon" size="lg" ngbDropdownToggle></fa-icon>

          <!-- <i ngbDropdownToggle id="dropdownBasic2" class="material-icons">swap_vert</i>
          <span>Sort</span> -->
          <!-- <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle></button> -->
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic2" placement="bottom-left">
            <button ngbDropdownItem (click)="sortDevices(0)">A-Z</button>
            <button ngbDropdownItem (click)="sortDevices(1)">Z-A</button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12">
      <div class="row">
       <span class="badge m-2 badge-secondary p-2  badge-pill" *ngFor="let filter of activeFilter" > {{filter}}</span>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 my-4 device-card" *ngFor="let item of deviceList" [ngClass]="{'d-none': checkToHideInInAll(item)}">
        <app-device-details  (favoriteDeviceclicked)="addToFavorite($event)" [device]="item"></app-device-details>
      </div>
    </div>
  </div>
</main>
