

.container-fluid{
  background: lightgrey;
}
.dropdown-menu.filter{
  // left: -10rem !important;
  width: 50rem !important;
}

.isActive{
  background: grey !important;
  color: white !important;
}
.badge{
  width: 5rem;
}
.device-card {
  height: 198px;
}

.devices-header {
  display: flex;
}

.devices-header h2 {
  padding-right: 10px;
}

.devices-header hr {
  width: 80%;
}

.devices-filter i {
  rotate: 180;
}

.devices-sort i {
  rotate: 90;
}

.device-actions {
  text-align: center;
  font-size: small;
}
.favorite-devices {
  height: 150px;
  color: #25477b;
  background-color: #e2e3e5;
  border-color: #25477b;
  justify-content: center;
  align-items: center;
}

.filter h2{
  font-family: HelveticaNeueLTStd-55Roman;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.filter p {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #302550;
}

.filter-badge {
  font-family: HelveticaNeueLTStd-55Roman;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 2rem;
}
.apply-btn {
  width: 118px;
  height: 29px;
  border-radius: 6px;
  border: solid 1px #ec008c;
  background-color: #ec008c;
  font-family: HelveticaNeueLTStd-55Roman;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.clear-btn{
  width: 118px;
  height: 29px;
  border-radius: 6px;
  border: solid 1px grey;
  background-color: grey;
  font-family: HelveticaNeueLTStd-55Roman;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
