<div class="card-container mx-2">
  <div class="card-actions">
    <div class="card-image">
      <fa-icon [icon]="faStar" size="sm" class="fav-btn" (click)="addTofav()" [ngClass]="{'isfav': isFav}"></fa-icon>
    </div>
    <div (click)="showToolbar = !showToolbar">
      <img src="../../../../assets/svg/ellipses.svg" alt="" srcset="">
      <!-- <fa-icon [icon]="faEllipsisV" size="sm" ></fa-icon> -->
    </div>
  </div>
  <div class="card-content-wrapper">
    <div class="card-media">
      <div class="card-favourite">
        <img src="../../../../assets/instrument_card.png" alt="" srcset="">
        <!-- <fa-icon [icon]="faFileImage" size="3x"></fa-icon> -->
      </div>
      <div class="card-device-status" [class.card-device-active]="device.status === 'Available'">
        <fa-icon [icon]="faCircle" size="xs"></fa-icon>
        <!-- <img class="circle" src="../../../../assets/svg/circle.svg" alt=""> -->
        <span class="device-status"> {{ device.status }}</span>
      </div>
    </div>
    <div class="card-content">
      <p class="device-name" *ngIf="!isEditName" >{{ device.deviceName }}</p>
      <div class="device-name" *ngIf="isEditName" > <input type="text" [(ngModel)]="deviceDate.deviceName"> <img src="../../../../assets/png/successfully deleted.png" (click)="deviceNameEditDone()" alt="" srcset="">
        <!-- <button (click)="deviceNameEditDone()">OK</button><button  (click)="deviceNameEditDone()">Close</button> -->
      <img style="width: 15px;" src="../../../../assets/png/cancel 1.png" (click)="deviceNameEditDone()" alt="" srcset="">
      </div>
      <p class="device-app">{{ device.type }}</p>
      <p class="device-info soft-version">{{ device.softwareVersion }}</p>
      <p class="device-info">{{ device.firmwareVersion }}</p>
    </div>
  </div>
  <div class="card-toolbox" [class.d-none]= "!showToolbar">
    <div>
      <!-- <i alt="" srcset=""> -->
      <fa-icon [icon]="faPen" size="sm" (click)="editDeviceName()"></fa-icon>
    </div>
    <!-- <div class="tools-divider"></div> -->
    <div>
      <fa-icon [icon]="faCog" size="sm"></fa-icon>
    </div>
    <!-- <div class="tools-divider"></div> -->
    <div>
      <fa-icon [icon]="faTrashAlt" size="sm" (click)="deviceDeleteClicked()"></fa-icon>
    </div>
  </div>
</div>
