.status {
  background: green;
  width: 10px;
  color: green;
  height: 10px;
  border-radius: 50%;
}

.status-error {
  background: red;
  width: 10px;
  color: red;
  height: 10px;
  border-radius: 50%;
}

.img{
  height: 70px;
  min-height: 70px;
}
