<div class="app-container">
  <h2 class="app-header">Favourites</h2>
  <mat-card class="favorites-card-space">
    You can mark 3 instruments as favorites and monitor them
  </mat-card>

  <div class="app-instruments-list">
    <h2 class="app-header">All</h2>
    <mat-divider></mat-divider>
    <mat-icon svgIcon="sort"></mat-icon>
  </div>
  <div class="instruments-cards-wrapper">
    <div
      class="instrument-card"
      *ngFor="let instrument of instruments$ | async"
    >
      <app-instruments-details
        [instrument]="instrument"
      ></app-instruments-details>
    </div>
  </div>
</div>
