@import "variables";
@import "mixins";

.app-container {
  @include container;
  justify-content: flex-start;
  .app-header {
    @include header;
    margin-bottom: 2.5vh;
  }
  .favorites-card-space {
    @include flexCenter;
    height: 140px;
    border: 1px solid $brand-blue;
    background-color: rgba(48, 37, 80, 0.1);
    width: 84vw;
    font-style: italic;
    color: $brand-blue;
    font-family: HelveticaNeueLTStd-55Roman;
    font-size: 0.8rem;
  }
  .app-instruments-list {
    @include flexCenter;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    margin: 6vh 0;
    .app-header {
      margin: 0 25px 0 0;
      width: initial;
    }
    .app-filters {
      @include flexCenter;
      width: 120px;
      justify-content: space-between;
      flex-wrap: nowrap;
      .filter-icons {
        text-align: center;
        color: $brand-dark-grey;
        span {
          font-family: HelveticaNeueLTStd-65;
          font-size: 0.7rem;
        }
        .active-menu {
          color: $brand-pink;
        }
      }
    }
    .vertical-divider {
      border-top-color: $brand-dark-grey !important;
      height: 40px;
      width: initial !important;
    }
    .mat-divider {
      width: 100%;
      border-top-color: $brand-grey;
    }
  }
  .filters-wrapper {
    @include flexCenter;
    justify-content: flex-start;
    width: 100%;
    .close-filter {
      width: 15px;
      padding-left: 5px;
    }
  }
  .instruments-cards-wrapper {
    @include flexCenter;
    justify-content: flex-start;
    width: 100%;
    .instrument-card {
      width: 30%;
      margin: 35px 35px 0 0;
    }
  }
}

.dropdown-filter-list {
  font-size: small;
  font-weight: bold;
  color: $brand-blue;
}
.dropdown-filter-buttons {
  display: flex;
  min-width: 300px;
}
.dropdown-filter-submit {
  display: flex;
  justify-content: flex-end;
}
