.title{
  font-family: HelveticaNeueLTStd-65;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #302550;
}
.pl-3{
  padding-left: 3rem;
}
.action-btn{
  justify-content: end;;
}
.btn-cancle{
  margin-right: 10px;
}

.btn-confirm, .btn-confirm:active ,.btn-confirm:hover{
  width: 166px;
  height: 45px;
  border-radius: 6px;
  border: solid 1.3px #ec008c;
  background-color: #ec008c;
  color: white;
}
.btn-cancle{
  width: 166px;
  height: 45px;
  border-radius: 6px;
  border: solid 1.3px #ec008c;
}
mat-dialog-content{
  border-top: 1px solid lightgray;
  padding-top: 1.5rem;
}
.close-icon {
  float: right !important;
  margin-top: -45px !important;
  cursor: pointer;
}
p{
  font-size: 18px;
  font-weight: normal;
}
.user-dialog{
  background-color: white;
  width: 550px;
  padding: 2rem;
}
.content{
  margin-top:1rem;
}
.mt-2{
  margin-top: 2rem !important;
}
